.font {
    font-family: sans-serif;
    font-weight: 700;
    margin: 1px 0;
    line-height: 1.5;
}

.imgCrcl {
    border-style: solid;
    border-radius: 50%;
    margin-right: 20px;
}

.containerOfMe {
    display: flex;
    align-items: center;
    position: relative;
}

.image-wrapper {
    position: relative;
}

.smallImg {
    position: absolute;
    top: 82%; /* Moves the small image down relative to the big image */
    left: 75%; /* Moves it to the right side of the big image */
    border-radius: 50%;
}

.text-content {
    max-width: 300px;
}

.links {
    margin-top: 20px;
}

body {
    background-color: black;
    color: white;
}

@media (max-width: 600px) {
    .containerOfMe {
        flex-direction: column;
        align-items: center;
    }

    .imgCrcl {
        margin-right: 0;
    }

    .smallImg {
        position: static;
        margin-top: -30px;
    }

    .text-content {
        text-align: center;
    }
}
